<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'App_1/css/bootstrap.css' %}">
</head>
<body>
<div class="container mt-5">
    <h2 >Function Based View  Model-Form CRUD Operations</h2>
    {% block content %} {% endblock content %}
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>